#div0{
    position: absolute;
   margin-bottom: 70px;
   margin-left: 30px;
}
#div1{
    margin-left: 300px;
    padding-top: 30px;
    position: absolute;
}
#div2{
    margin-left: 400px;
    padding-top: 30px;
    position: absolute;
}
#div3{
    margin-left: 500px;
    padding-top: 30px;
    position: absolute;
}
#div4{
    margin-left:600px;
    padding-top: 30px;
    position: absolute;
    }
#div5{
    margin-top: 20px;

}
.div2{
 position: absolute;
 background-color: rgba(234, 243, 243, 0.638);
 height: 230px;
 width: 270px;
 margin-top: 80px;
 margin-left: 30px;
 position: absolute;
 
}
#div7{
    margin-left: 130px;
}
#div8{
    margin-left: 300px;
}
#div9{
    margin-left: 100px;
    position: absolute;
}
#div10{
    margin-left: 250px;
    position: absolute;
}
#div11{
    margin-left: 400px;
    position: absolute;
}
#div12{
    margin-left: 550px;
    position: absolute;
}
#div13{
    margin-left: 700px;
    position: absolute;
}
.div3{
    height: 80px;
    width: 830px;
    background-color: aqua;
}
.div4{
    position: absolute;
}
.div5{
    margin-left: 230px;
    position: absolute;
    margin-top: 30px;
}
.div6{
    margin-left: 450px;
    position: absolute;
    margin-top: 30px;
}
.div7{
    margin-left: 670px;
 margin-top: 50px;   
}
.div8{
    position: absolute;
}
#div21{
    margin-left: 760px;
    margin-top: 110px;
}
.div9{
    position: absolute;
}
.div10{
    margin-left: 230px;
}
.div11{
    position: absolute;
}
.div12{
    margin-left:230px ;
    position: absolute;
}
.div13{
    margin-left: 490px;
 margin-top: 90px;
    position: absolute;
}
.div14{
    position: absolute;
}
.div15{
    margin-left: 670px;
margin-top: 60px;
}
#div38{
    position: absolute;
    
}
#div39{
    margin-left: 800px;
    margin-top: 20px;
}
#div40{
    position: absolute;
    margin-left: 210px;
}
#div41{
    margin-left: 310px;
    position: absolute;
}
#div42{
    margin-left: 410px;
position: absolute;
}
#div43{
    margin-left: 510px;
    position: absolute;
}
#div44{
    margin-left: 610px;
    margin-top: 43px;
}
.div16{
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    margin-left: 70px;
    position: absolute;
    margin-bottom: 50px;
}
#div45{
    margin-left: 35px;
    margin-bottom: 50px;
    position: absolute;
}
#div46{
    margin-left:50px ;
    position: absolute;
    margin-top: 50px;
}
#div466{
    margin-left: 120px;
    margin-top: 50px;
position: absolute;    
}
#div47{
    margin-left: 30px;
    margin-top: 90px;
    position: absolute;
}
.div17{
    margin-left: 300px;
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    margin-bottom: 140px;
    position: absolute;
}
#div48{
    margin-left: 50px;
    position: absolute;
}
#div49{
margin-left: 50px;
margin-top: 50px;    
position: absolute;}
#div50{
    margin-left: 110px;
    position: absolute;
    margin-top: 50px;
    
}
#div51{
    margin-top: 70px;
    position: absolute;
}
.div18{
    margin-left: 530px;
    background-color: aliceblue;
    height: 200px;
    width: 200px;
    margin-bottom: 650px;
    position: absolute;
}
#div52{
    margin-left: 30px;
    position: absolute;
}
#div53{
margin-top: 50px;
position: absolute;
margin-left: 40px;
}
#div54{
    margin-left: 100px;
    position: absolute;
    margin-top: 50px;
}
#div55{
    margin-top: 70px;
    position: absolute;
}
.div19{
    margin-top: 350px;
    margin-left: 320px;
}
#div58{
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;
}
#div59{
    margin-left: 250px;
margin-top: 60px;

}
#div60{
    margin-left: 100px;
    font-style: italic;
}
#div61{
    margin-left: 150px;
    position: absolute;
}
#div62{
    margin-left: 150px;
    margin-top: 30px;
    position: absolute;
}
.div19{
height: 450px;
width: 600px;
background-color: aliceblue;
margin-left: 100px;
text-align: center;

}
.all{
    height: 2300px;
    background-color: rgba(177, 198, 198, 0.863);
    
    
}
#div63{
    margin-left: 500px;
    margin-bottom: 330px;
    position: absolute;
    margin-top: 15px;
}
#div64{
    margin-left: 400px;
    margin-bottom: 220px;
    position: absolute;
    margin-top: 15px;
}
#div65{
    margin-top: 100px;
    margin-left: 100px;
    
}
.div20{
    height: 100px;
    width:500px;
    background-color: rgb(31, 63, 31);
 margin-top: 200px;
 margin: 0;
 padding-right: 100px;
}
.div101{
    padding-bottom: 70px;
}